body
{
  font-family: "Times New Roman", Times, serif;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.product_list{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 380px), 1fr));
  gap: 20px;
  padding: 0;
}

.product_list li{
  list-style: none;
}
.product_list li img{
  max-width: 100%;
}